/*  New CSS format (correction)  */
* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

body{
   background-color: hsl(212, 45%, 89%);
   display: flex;
   justify-content: center;
   align-items: center;
    min-height: 100vh;
}

.Container{
   max-width: 300px;
   background-color: hsl(0, 0%, 100%); 
   padding: 20px;  
   border-radius: 5%;    
   text-align: center;
   margin-inline: 10px;         
 }

 img {
   border-radius: 5%;
   max-width: 100%;
   margin-bottom: 30px;  
}

    .header {
        font-size: 22px;
        font-weight:700;
        margin: 0 10px 20px;
    }

    p {
        font-size: 15px;
        color:hsl(216, 15%, 48%);
        font-weight:400;
        text-align: center;
        margin: 0 20px 20px;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center;
        position-anchor: fixed;
    }

/* Original CSS format
* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
/* Desktop */
@media screen and (min-width: 769px) and (max-width: 3000px) {
    body{
        background-color: hsl(212, 45%, 89%);
        display: flex;
        justify-content: center;
        transform: translate(0%, 30%);
        
    }

    .Container{
        width: 350px;
        height: auto;
        background-color: hsl(0, 0%, 100%);
        padding: 20px;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    img {
        border-radius: 5%;
        width: 350px;
        margin-bottom: 30px;
    }

    .header {
        font-size: 25px;
        font-weight:700;
        margin: 0 10px 20px;
    }

    p {
        font-size: 15px;
        color:hsl(216, 15%, 48%);
        font-weight:400;
        margin: 0 45px 25px;
        text-align: center;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center;
        position-anchor: fixed;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%); 
    }
}
/* Mobile */
@media screen and (min-width: 375px) and (max-width: 768px) {
    body{
        background-color: hsl(212, 45%, 89%);
        display: flex;
        justify-content: center;
        transform: translate(0%, 30%);
    }

    .Container{
        width: 275px;
        height: auto;
        background-color: hsl(0, 0%, 100%);
        padding: 15px;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    img {
        border-radius: 5%;
        width: 275px;
        margin-bottom: 20px;
    }

    .header {
        font-size: 20px;
        margin: 0 10px 15px;
        font-weight: 700;
    }

    p {
        color:hsl(216, 15%, 48%);
        font-weight:400;
        margin: 0 20px 20px;
        font-size: 14px;
        text-align: center;
    
    }
    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution a {
         color: hsl(228, 45%, 44%); 
    }

} */


    
    .attribution a {
        color: hsl(228, 45%, 44%); 
    }
